* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.selector {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For older versions of WebKit-based browsers */
/* This is a fallback for WebKit browsers that don't support `font-smooth` */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .selector {
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mantine-ygn8l0 {
  background-color: transparent !important;
}

.mantine-1gbfnu2 {
  background-color: transparent !important;
}

.mantine-vn8k6y {
  background-color: transparent !important;
}

.mantine-ip24me {
  background-color: transparent !important;
}

.mantine-1vibmw7::before {
  background-color: transparent !important;
}


.mantine-1682jzp {
  min-height: auto;
}


.mantine-1682jzp {
  padding: 0;
}

.mantine-1q36a81 {
  padding: 0;
}

.mantine-1eopbn3::before {
  background-color: transparent !important;
}
.mantine-15wqd5p {
  background-color: transparent !important;
}

.mantine-xppf8t {
  background-color: transparent !important;
}

.mantine-i4faud {
  background-color: transparent !important;
}

.mantine-172hskf {
  background-color: transparent !important;
}

.mantine-1skrazn {
  background-color: transparent !important;
}

.mantine-c58ew8 {
  width: 45% !important;
}